.container-layout {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.container-layout::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(93, 84, 240, 0.5);
  background: -webkit-linear-gradient(
    left,
    rgba(0, 168, 255, 0.5),
    rgba(185, 0, 255, 0.5)
  );
  background: -o-linear-gradient(
    left,
    rgba(0, 168, 255, 0.5),
    rgba(185, 0, 255, 0.5)
  );
  background: -moz-linear-gradient(
    left,
    rgba(0, 168, 255, 0.5),
    rgba(185, 0, 255, 0.5)
  );
  background: linear-gradient(
    left,
    rgba(0, 168, 255, 0.5),
    rgba(185, 0, 255, 0.5)
  );
  pointer-events: none;
}

.wrap-layout {
  width: 300px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.layout-title {
  display: block;
  font-family: SourceSansPro-Bold;
  font-size: 40px;
  color: darkmagenta;
  line-height: 1.2;
  text-align: center;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-b-37 {
  padding-bottom: 37px;
}

.p-l-55 {
  padding-left: 55px;
}
.p-r-55 {
  padding-right: 55px;
}
.p-t-80 {
  padding-top: 80px;
}

#rectangle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  width: 310px;
  height: 30px;
  border: 2px solid darkmagenta;
  margin-top: 15px;
}

#valuesColor {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.valuesRGB {
  font-size: 14pt;
  width: 170px;
  height: 30px;
  margin-top: 15px;
  text-align: center;
}

.valuesHexa {
  font-size: 14pt;
  width: 170px;
  height: 30px;
  margin-top: 15px;
  text-align: center;
}

#valueR {
  font-size: 12pt;
  width: 35px;
  height: 35px;
  border: solid red;
}

#valueG {
  font-size: 12pt;
  width: 35px;
  height: 35px;
  border: solid rgb(6, 170, 61);
}

#valueB {
  font-size: 12pt;
  width: 35px;
  height: 35px;
  border: solid blue;
}

#Red {
  font-size: 15pt;
  color: red;
  text-align: center;
}

#Green {
  font-size: 15pt;
  color: rgb(6, 170, 61);
  text-align: center;
}

#Blue {
  font-size: 15pt;
  color: blue;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.sliderR::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background: red;
}

.sliderG::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background: green;
}

.sliderB::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background: blue;
}
